<html>

<head>
    <title>Smart Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="javascript/raphael.2.1.0.min.js"></script>
    <script src="javascript/justgage.1.0.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">


    <title>IoT Web Client</title>

    <script>
        window.setInterval(() => {
            console.log("TIMEOUT");
        $( "#t_id" ).load(window.location.href + " #t_id" );
        $( "#d_id" ).load(window.location.href + " #d_id" );
        $( "#w_id" ).load(window.location.href + " #w_id" );
        $( "#sm_id" ).load(window.location.href + " #sm_id" );
        $( "#m_id" ).load(window.location.href + " #m_id" );
        }, 1000);




    </script>
    <style>

        #g1 {
            width:400px; height:320px;
            display: inline-block;
            margin: 1em;
        }
        #g2 {
            width:400px; height:320px;
            display: inline-block;
            margin: 1em;
        }

    </style>


</head>

<!-- this is an HTML comment -->
<body>
<nav class="navbar navbar-inverse">
</nav>

<div class="jumbotron">
    <div class="container text-center">
        <h2>Smart Home</h2>
    </div>
</div>

<div class="container-fluid bg-3 text-center" style="background-color:lightgray;">
    <br>

    <div class="row" style="background-color:#dcdcdc;">  <!-- row one-->
        <div class="col-sm-6">
            <!-- Slider button  for heater-->
            <div class="slidecontainer">
                <h4> LIGHT <span id="light_state"> </span></h4>
                <label class="switch">
                    <input type="checkbox" onchange="light_state_change(this)">
                    <span class="slider1 round"></span>
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Slider button  for heater-->
            <div class="slidecontainer">
                <h4>HEATER <span id="heater_state"></span></h4>
                <label class="switch">
                    <input type="checkbox" onchange="heater_state_change(this)">
                    <span class="slider1 round"></span>
                </label>
            </div>
        </div>
    </div>
    <br>
    <div class="row">  <!-- row two-->
        <div class="col-sm-4">
            <h4> <span id="light_state_alarm"></span></h4>
        </div>
        <div class="col-sm-4">
            <div id="g1"></div>
            <h4 id="t_id"> <%= content.tempMsg %> </h4>
        </div>
        <div class="col-sm-4">
            <div id="g2"></div>
            <h4 id="sm_id"> <%= content.moistureMsg %> </h4>
        </div>
    </div>
    <div class="row" style="background-color:gray;" >  <!-- row four-->
        <div class="container text-center">
            <h2>Alarms</h2>
        </div>
        <div class="col-sm-4">
            <img class="logo" src="images/plant.png" alt="attention" width="25%"> <br>
            <h4>Water Plant</h4>
        </div>
        <div class="col-sm-4">
            <span id="motion_alarm"></span>
            <img class="logo" src="images/moveSensor.png" alt="attention" width="25%"> <br>
            <h4 id="m_id"> <%= content.motionMsg %> </h4>
        </div>
        <div class="col-sm-4">
            <img class="logo" src="images/door.png" alt="attention" width="25%"> <br>
            <h4 id="d_id"> <%= content.doorMsg %> </h4>
        </div>
    </div>
    <div class="row" style="background-color:gray;" >  <!-- row five-->
        <div class="col-sm-6">
            <img class="logo" src="images/window.png" alt="attention" width="18%"> <br>
            <h4 id="w_id"> <%= content.windowMsg %> </h4>
        </div>
        <div class="col-sm-6"">
        <span id="heater_state_alarm_logo"></span>
        <img class="logo" src="images/heater.png" alt="attention" width="15%"><br>
        <h4>HEATER <span id="heater_state_alarm"></span></h4>
    </div>
</div>
</div><br>


<footer class="container-fluid text-center">
    <img class="logo" src="images/rpi.png" alt="attention" width="20%">
</footer>

</body>


<script>
    $("#light_state_alarm").html("<img class=\"logo\" src=\"images/lightOff.png\" alt=\"attention\" width=\"50%\"> ");

    // Functions (jquery) to check switch **Light**
    var light_state_change = (element) => {
        if(element.checked) {
            $.ajax({
                url: '/turnOnLed',
                method: 'post',
                success: function(data){
                    $("#light_state").html("ON");
                    $("#light_state_alarm").html("<img class=\"logo\" src=\"images/lightOn.png\" alt=\"attention\" width=\"50%\"> ");

                }
            });
        } else {
            $.ajax({
                url: '/turnOffLed',
                method: 'post',
                success: function(data){
                    $("#light_state").html("OFF");
                    $("#light_state_alarm").html("<img class=\"logo\" src=\"images/lightOff.png\" alt=\"attention\" width=\"50%\"> ");

                }
            });
        }
    }

    // Functions (jquery) to check switch **Heater**
    var heater_state_change = (element) => {
        if(element.checked) {
            $.ajax({
                url: '/turnOnHeater',
                method: 'post',
                success: function(data){
                    $("#heater_state").html("ON");
                    $("#heater_state_alarm").html("ON");
                    $("#heater_state_alarm_logo").html("<img class=\"logo\" src=\"images/attention.png\" alt=\"attention\" width=\"5%\"> ");
                }
            });
        } else {
            $.ajax({
                url: '/turnOffHeater',
                method: 'post',
                success: function(data){
                    $("#heater_state").html("OFF");
                    $("#heater_state_alarm").html("OFF");
                    $("#heater_state_alarm_logo").html("");

                }
            });
        }
    }


    var chart1 = new JustGage({
        id: "g1",
        value: 0,
        min: 0,
        max: 50 ,
        title: "Temperature",
        label: "Celsius",
        levelColorsGradient: true,
        levelColors: ["FF0000", "FF6103", "FFFF00", "00FF00", "FFFF00", "FF0000"],
        shadowSize: 2,
        shadowVerticalOffset: 12
    });
    var chart2  = new JustGage({
        id: "g2",
        value: 0,
        min: 0,
        max: 100,
        title: "Soil Moisture",
        label: "%",
        levelColorsGradient: true,
        levelColors: ["FF0000", "FF6103", "FFFF00", "00FF00", "FFFF00", "FF0000"],
        shadowSize: 2,
        shadowVerticalOffset: 12
    });

    setInterval(function() {
        $.get('http://'+window.location.host+'/charts',function(data){
            console.log(data);
            chart1.refresh(data.temperature);//GAGE1
            chart2.refresh(data.moisture);//GAGE2

        });
    }, 500);
</script>
</html>
